@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Regular.eot');
    src: url('../fonts/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MonumentExtended-Regular.woff2') format('woff2'),
    url('../fonts/MonumentExtended-Regular.woff') format('woff'),
    url('../fonts/MonumentExtended-Regular.ttf') format('truetype'),
    url('../fonts/MonumentExtended-Regular.svg#MonumentExtended-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #293340;
    line-height: 1.5;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    padding: 10px 6px;
}

.header__logo__link {
    text-decoration: none;
}

.header__menu {
    position: relative;
    display: flex;
    align-items: center;
}

.header__menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-right: 50px;
    padding: 13px 0;
}

.header__menu__item {
    margin-right: 20px;
    position: relative;
}

.header__menu__list:first-child {
    margin-right: 14px;
}

.header__menu__item:hover::after {
    opacity: 1;
}

.header__menu__item:after {
    content: '';
    position: absolute;
    left: -15%;
    bottom: -3px;
    width: 130%;
    height: 1px;
    background-color: #a3c1e7;
    opacity: 0;
    transition: .2s ease;
}

.header__menu__link {
    font-size: 16px;
    color: #293340;
    text-decoration: none;
    transition: .2s ease;
}

.header__menu__link:hover {
    color: #a3c1e7;
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index:30;
    overflow: hidden;
    display: none;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #004a6a;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 10px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 10px);
}

.mobile__menu__list {
    width: 100%;
    position: absolute;
    padding: 20px 0  40px 40px;
    top: -120px;
    left: 0;
    right: 0;
    background-color: #fff;
    list-style-type: none;
    z-index: 20;
    transition: all 0.5s ease;
}

/******************* Main ******************/

.main {
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.mirax {
    width: 100%;
    position: relative;
}

.mirax > .container {
    max-width: 1470px;
}

.mirax__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mirax__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mirax__top__content {
    margin-top: 90px;
    margin-right: 170px;
}

.mirax__top__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.mirax__top__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.mirax__top__text {
    font-size: 20px;
    line-height: 23px;
    margin-left: 30px;
    position: relative;
    margin-bottom: 12px;
}

.mirax__top__text:before {
    content: '';
    position: absolute;
    width: 2px;
    left: -10px;
    top: 0;
    bottom: 0;
    background-color: #a3c1e7;
}

.mirax__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mirax__bottom__content {
    margin-left: 100px;
}

.mirax__bottom__subtitle {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 86px;
    margin-bottom: 40px;
}

.mirax__bottom__text {
    font-size: 20px;
    line-height: 23px;
}

.work {
    width: 100%;
    position: relative;
    padding-bottom: 160px;
}

.work > .container {
    max-width: 1470px;
}

.work__top {
    width: 100%;
    max-width: 1240px;
    margin: 110px auto 10px;
    display: flex;
    justify-content: flex-start;
}

.work__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 20px;
}

.work__row {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.work__row__block  {
    width: 295px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(163, 193, 231, 1);
    margin-top: 40px;
    background-color: #fff;
}

.work__block__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(163, 193, 231, 1);
}

.work__block__subtitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 0;
    margin-left: 10px;
    color: rgba(41, 51, 64, 1);
}

.work__block__content {
    width: 100%;
    position: relative;
}

.work__block__text {
    font-size: 19px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.work__video {
    position: absolute;
    max-width: 1440px;
    top: -110px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    border: 0;
}

.work__background {
    position: absolute;
    width: 1440px;
    height: 810px;
    top: -110px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    border: 0;
    background: linear-gradient(0deg, rgba(36, 43, 60, 0.37), rgba(36, 43, 60, 0.37));
}

.testimonails {
    width: 100%;
    position: relative;
    margin-top: 150px;
    padding-bottom: 100px;
}

.testimonails__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.testimonails__carousel {
    margin-top: 70px;
    width: 1090px;
}

.testimonails__carousel__mobile.owl-carousel.owl-loaded {
    display: none !important;
    margin-top: 70px;
    width: 590px;
}

.testimonails__block {
    position: relative;
    width: 530px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.testimonails__block__top,
.testimonails__block__main{
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 20px 0 20px 20px;
}

.testimonails__block__bottom {
    position: relative;
    width: 100%;
}

.testimonails__block__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.testimonails__block__city{
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}

.testimonails__block__text {
    font-size: 20px;
    line-height: 23px;
}

.testimonails__block__button {
    margin: 20px 0 20px 20px;
    padding: 10px 41px;
    background: #A3C1E7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.testimonails__carousel > .owl-nav > .owl-next {
    position: absolute;
    top: -20px;
    right: -170px;
    font-size: 80px !important;
}

.testimonails__carousel > .owl-nav > .owl-prev {
    position: absolute;
    top: -20px;
    right: -100px;
    font-size: 80px !important;
    display: none;
}

.owl-dots {
    right: -190px;
    bottom: 5px;
    position: absolute;
}

.owl-dots > .owl-dot {
    margin-right: 10px;
}

.owl-dots > .owl-dot > span {
    display: block;
    width: 12px;
    height: 12px;
    background: #A3C1E7;
    border-radius: 50%;
}

.owl-dots > .owl-dot.active > span {
    background: #293340;
}

.contacts {
    width: 100%;
    position: relative;
    padding: 90px 0;
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.contacts__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid black;
}

.contacts__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 40px;
}

.contacts__form {
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.contacts__form__input {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgba(41, 51, 64, 1);
    border-bottom: 2px solid rgba(41, 51, 64, 1);
}

.contacts__form__left,
.contacts__form__right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.contacts__form__left {
    border-right: 2px solid #293340;
}

.contacts__form__right > .contacts__form__first {
    margin-top: 5px;
}

.contacts__form__first{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.contacts__form__second {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__form__first > label{
    font-size: 16px;
    line-height: 18px;
}

.contacts__form__second > input {
    width: 95%;
    height: 38px;
    font-size: 16px;
    line-height: 18px;
    border: 2px solid rgba(163, 193, 231, 0.7);
    padding-left: 10px;
}

#input_8::-webkit-outer-spin-button,
#input_8::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contacts__form__second > input:focus {
    outline: 0;
}

.contacts__form__bottom {
    width: 100%;
    position: relative;
    padding: 10px;
}

.contacts__form__button {
    margin: 20px 0 20px 20px;
    padding: 10px 41px;
    background: #A3C1E7;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

@media only screen and (max-width: 1470px) {

    .mirax__top__content {
        margin-right: 150px;
    }

    .mirax__top__title {
        font-size: 23px;
    }
    .mirax__top__subtitle,
    .mirax__top__text {
        font-size: 19px;
    }

    .mirax__bottom__content {
        margin-left: 50px;
    }

    .mirax__bottom__subtitle {
        font-size: 23px;
    }

    .mirax__bottom__text {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1375px) {

    .mirax__top__content {
        margin-left: 50px;
        margin-right: 15px;
    }

    .mirax__top__text > br {
        display: none;
    }

    .mirax__bottom__content {
        margin-right: 50px;
        margin-left: 10px;
    }

    .mirax__bottom__subtitle {
        margin-top: 60px;
    }

    .work__row__block {
        width: 265px;
    }

    .br__none {
        display: none;
    }

    .testimonails__carousel > .owl-nav > .owl-next {
        right: -55px;
    }

    .owl-dots {
        right: -70px;
        bottom: -7px;
    }
}

@media only screen and (max-width: 1275px) {
    .mirax__bottom__subtitle {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1175px) {
    .work__video {
        display: none;
    }

    .work__background {
        background: #A3C1E7;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .work__top {
        justify-content: center;
    }

    .work__row {
        justify-content: space-around;
    }

    .work__row__block {
        width: 400px;
    }

    .testimonails {
        margin-top: 40px;
    }

    .testimonails__title {
        text-align: center;
    }

    .testimonails__carousel.owl-carousel.owl-loaded {
        display: none !important;
    }

    .testimonails__carousel__mobile.owl-carousel.owl-loaded {
        display: flex !important;
        justify-content: center;
        margin: 70px auto 0;
        width: 530px;
    }

    .testimonails__carousel__mobile > .owl-nav > .owl-next {
        position: absolute;
        top: -20px;
        right: -50px;
        font-size: 80px !important;
    }

    .testimonails__carousel__mobile > .owl-nav > .owl-prev {
        position: absolute;
        top: -20px;
        left: -50px;
        font-size: 80px !important;
    }

    .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -50px;
        width: 132px;
    }

    .contacts__form__first {
        width: 40%;
    }

    .contacts__form__second {
        width: 60%;
        align-items: flex-end;
    }

    .contacts__form__second > input {
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        margin-top: 30px;
    }

    .mirax__top {
        flex-direction: column-reverse;
    }

    .mirax__top__content {
        margin-left: 10px;
    }

    .mirax__bottom {
        flex-direction: column;
    }

    .mirax__bottom__content {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 993px) {
    .header__menu__list {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}

@media only screen and (max-width: 920px) {
    .contacts__form__input {
        flex-direction: column;
        align-items: center;
    }
    .contacts__form__left,
    .contacts__form__right {
        width: 80%;
        border-right: 0;
    }

    .contacts__form__left {
        padding-bottom: 20px;
    }

    .contacts__form__right {
        padding-top: 0;
    }

    .contacts__form__second {
        align-items: flex-start;
    }

    .contacts__form__second > input {
        width: 100%;
    }

    .contacts__form__bottom {
        text-align: center;
    }
}

@media only screen and (max-width: 690px) {
    .testimonails__block {
        width: 300px;
    }

    .testimonails__carousel__mobile.owl-carousel.owl-loaded {
        width: 300px;
    }

    .testimonails__block__bottom {
        text-align: center;
    }

    .testimonails__block__button {
        margin: 20px;
    }
}

@media only screen and (max-width: 620px) {

    .mirax__top__title {
        font-size: 21px;
    }
    .mirax__top__subtitle,
    .mirax__top__text {
        font-size: 18px;
    }

    .mirax__bottom__subtitle {
        font-size: 21px;
    }

    .mirax__bottom__text {
        font-size: 18px;
    }

    .contacts__form__left,
    .contacts__form__right {
        width: 100%;
    }
}

@media only screen and (max-width: 490px) {

    .contacts__title {
        font-size: 20px;
        line-height: 25px;
        margin: 20px;
    }

    .testimonails__block__text {
        font-size: 18px;
        line-height: 20px;
    }

    .contacts__form__left {
        padding: 20px 5px 0 5px;
    }

    .contacts__form__right {
        padding: 20px 5px;
    }

    .contacts {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 415px) {

    .work__title {
        margin-bottom: 5px;
        font-size: 22px;
    }

    .testimonails {
        margin-top: 10px;
    }

    .testimonails__title {
        font-size: 21px;
    }

    .testimonails__block {
        width: 240px;
    }

    .testimonails__carousel__mobile.owl-carousel.owl-loaded {
        width: 240px;
    }

    .testimonails__block__main {
        padding: 10px 5px 10px 10px;
    }

    .testimonails__block__text {
        font-size: 15px;
        line-height: 18px;
    }

    .contacts__form__first > label {
        font-size: 15px;
    }

    .contacts__form__first {
        width: 40%;
    }

    .contacts__form__second {
        width: 60%;
        align-items: flex-end;
    }

    .contacts__form__second > input {
        width: 95%;
        font-size: 15px;
    }

    .contacts__title {
        font-size: 18px;
        line-height: 20px;
        margin: 15px 0 15px 10px;
    }
}

@media only screen and (max-width: 382px) {
    .contacts__form__first {
        width: 45%;
    }

    .contacts__form__second {
        width: 55%;
        align-items: flex-end;
    }
}


