@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap');

/**************** Basic ****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    color: #424242;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

/*******************************/

/********** Content ************/

.main {
    width: 100%;
    position: relative;
}

.banner {
    width: 100%;
    position: relative;
    padding-top: 50px;
}

.banner__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.banner__top {
    width: 100%;
    position: relative;
}

.banner__top__img {
    width: 100%;
}

.banner__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 115px;
}

.banner__aside {
    width: 300px;
    position: absolute;
    top: 60px;
    right: -300px;
    display: flex;
    flex-direction: column;
}

.banner__aside__expert {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
    background: #F3F5F6;
    padding: 5px 10px;
}

.banner__aside__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.banner__aside__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.banner__aside__content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}

.banner__aside__name {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.banner__aside__desc {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.banner__aside__title {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 55px;
}

.banner__aside__list {
    list-style-type: none;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.banner__aside__item {
    position: relative;
    margin-bottom: 15px;
}

.banner__aside__item:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #777777;
    top: 15px;
    left: -20px;
    border-radius: 50%;
}

.banner__aside__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #777777;
}

.aside__bottom__img {
    width: 60px;
    height: 60px;
    align-self: center;
    cursor: pointer;
}

.banner__title {
    color: #424242;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-top: 35px;
}

.banner__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: #F3F5F6;
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner__block__text {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-right: 40px;
}

.banner__block__views {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.banner__block__views-text {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 5px;
}

.banner__text {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

.banner__advice {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.banner__advice__desc {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 53px;
    border-radius: 60px;
    background: #F3F5F6;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
}

.banner__advice__desc:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -50px;
    border-style: solid;
    border-width: 55px 60px 50px 0;
    border-color: transparent #F3F5F6 transparent transparent;
}

.banner__advice__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
}

.banner__advice__doc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    align-self: flex-end;
    margin-right: 30px;
}

.banner__advice__avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.banner__advice__name {
    width: 320px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

.banner__text__subtitle {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
}

.banner__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 30px;
}

.banner__content__block {
    width: 30%;
    height: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 35px;
    background: #F3F5F6;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    text-align: center;
}

.banner__content__line {
    width: 64px;
    height: 3px;
    background: #424242;
    margin-top: 15px;
}

.banner__content__text {
    color: #424242;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

.banner__table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

.banner__table > thead {
    background: #CEB589;
}

.banner__table > thead > tr > td {
    color: #000000;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.banner__table > tbody > tr > td {
    padding: 10px 35px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.banner__table > tbody > tr:nth-child(2n + 2) {
    background-color: #F3F5F6;
}

.female {
    width: 100%;
    position: relative;
}

.female__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
}

.female__title {
    margin-top: 35px;
}

.female__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.female__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.female__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.female__left {
    width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.female__left__title,
.female__bottom__title,
.female__right__title  {
    color: #424242;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.female__left__title:after {
    content: "";
    width: 270px;
    height: 165px;
    position: absolute;
    background-image: url(../img/om-article-female_arrow1.svg);
    background-repeat: no-repeat;
    right: -125px;
    top: 15px;
    z-index: 2;
}

.female__right__title:after {
    content: "";
    width: 270px;
    height: 165px;
    position: absolute;
    background-image: url(../img/om-article-female_arrow2.svg);
    background-repeat: no-repeat;
    left: -105px;
    top: 10px;
    z-index: 2;
}

.female__bottom__title:after {
    content: "";
    width: 270px;
    height: 165px;
    position: absolute;
    background-image: url(../img/om-article-female_arrow3.svg);
    background-repeat: no-repeat;
    left: 65px;
    top: -57px;
    z-index: 2;
}

.female__content__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.female__center {
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.female__right {
    width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.female__center__img {
    width: 100%;
}

.female__bottom {
    width: 650px;
    align-self: flex-end;
    margin-top: 30px;
}

.reproductive {
    width: 100%;
    position: relative;
}

.reproductive__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
}

.reproductive__title {
    margin-top: 70px;
}

.reproductive__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.reproductive__left {
    width: 525px;
    position: relative;
}

.reproductive__left__img {
    width: 100%;
}

.reproductive__right {
    width: 525px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.reproductive__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.reproductive__advice {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
}

.reproductive__advice__desc {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 53px;
    border-radius: 60px;
    background: #F3F5F6;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
}

.reproductive__advice__desc:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -50px;
    border-style: solid;
    border-width: 55px 60px 50px 0;
    border-color: transparent #F3F5F6 transparent transparent;
}

.reproductive__advice__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
}

.reproductive__advice__doc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    align-self: flex-end;
    margin-right: 30px;
}

.reproductive__advice__avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.reproductive__advice__name {
    width: 320px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

.reproductive__table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-bottom: 45px;
}

.reproductive__table > thead {
    background: #CEB589;
}

.reproductive__table > thead > tr > td {
    color: #000000;
    padding: 35px 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.reproductive__table > tbody > tr > td {
    padding: 20px 45px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.reproductive__table > tbody > tr:nth-child(2n + 2) {
    background-color: #F3F5F6;
}

.beauty {
    width: 100%;
    position: relative;
}

.beauty__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    margin-top: 50px;
}

.beauty__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.beauty__left {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.beauty__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.beauty__right {
    width: 45%;
    position: relative;
}

.beauty__right__img {
    width: 100%;
}

.harm {
    width: 100%;
    position: relative;
}

.harm__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
}

.harm__title {
    margin-top: 30px;
}

.harm__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.harm__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 30px;
}

.harm__top__block {
    width: 30%;
    height: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 35px;
    background: #F3F5F6;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    text-align: center;
}

.harm__top__line {
    width: 64px;
    height: 3px;
    background: #424242;
    margin-top: 15px;
}

.harm__top__text {
    color: #424242;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

.harm__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 120px;
}

.harm__content__block {
    width: 24%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 55px;
}

.harm__block__img {
    width: 48px;
    height: 48px;
}

.harm__block__text {
    color: #424242;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.choose {
    width: 100%;
    position: relative;
    padding: 80px 0;
}

.choose__bg {
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    left: 0;
    background: #424242;
}

.choose__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.choose__title {
    color: #CEB589;
}

.choose__subtitle {
    color: #CEB589;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.choose__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.choose__content__block {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose__content__img {
    width: 100%;
}

.choose__content__title {
    color:  #424242;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 5px;
}

.choose__content__text {
    width: 320px;
    color:  #424242;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 35px;
}

.choose__diagram {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.choose__left {
    width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.choose__right {
    width: 600px;
    position: relative;
}

.choose__right__img {
    width: 100%;
}

.choose__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.choose__advice {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
}

.choose__advice__desc {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 53px;
    border-radius: 60px;
    background: #F3F5F6;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
}

.choose__advice__desc:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -50px;
    border-style: solid;
    border-width: 55px 60px 50px 0;
    border-color: transparent #F3F5F6 transparent transparent;
}

.choose__advice__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
}

.choose__advice__doc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    align-self: flex-end;
    margin-right: 30px;
}

.choose__advice__avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.choose__advice__name {
    width: 320px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
}

.count {
    width: 100%;
    position: relative;
}

.count__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 115px;
}

.count__aside {
    width: 300px;
    position: absolute;
    right: -300px;
    top: 290px;
    display: flex;
    flex-direction: column;
}

.count__aside__title {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.count__aside__list {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 40px;
}

.count__aside__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.count__aside__item:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 12px;
    width: 3px;
    height: 3px;
    background-color: #777777;
    border-radius: 50%;
}

.count__aside__link {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count__aside__link-img {
    margin-left: 10px;
}

.count__title {
    align-self: flex-start;
}

.count__text {
    color:  #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.count__info {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: #F3F5F6;
    margin-top: 30px;
    margin-bottom: 15px;
}

.count__info__text {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-right: 40px;
}

.count__info__views {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.count__info__views-text {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 5px;
}

.count__like__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count__like__title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}

.count__like__sum {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 17px;
}

.count__stars__block {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.count__stars__img {
    width: 24px;
    height: 24px;
}

.count__like__text {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 5px;
}

.count__author__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 30px 42px;
}

.author__block__title {
    color:  #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.count__author__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.author__bottom__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.count__author__content {
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.author__bottom__name {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.author__bottom__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
}

.author__bottom__link {
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: auto;
}

.count__source__title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    align-self: flex-start;
}

.count__source__text {
    color: #CEB589;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 16px;
    align-self: flex-start;
    margin-left: 10px;
}

.question {
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 200px;
}

.question__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
}

.question__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.question__top__title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.question__top__button {
    border: 2px solid #9F9F9F;
    padding: 5px 10px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.question__top__button:hover {
    border: 2px solid #424242;
    background-color: #424242;
    color: #fff;
}

.question__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.question__content__top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}

.question__top__icon {
    width: 36px;
    height: 36px;
}

.question__top__name {
    color: #9F9F9F;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px;
}

.question__content__main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    border-radius: 10px;
    background: #F1E9CE;
    margin-top: 10px;
}

.question__content__main:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 20px;
    bottom: -20px;
    border-style: solid;
    border-width: 25px 35px 25px 0;
    border-color: transparent #F1E9CE transparent transparent;
}

.question__main__text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.question__content__bottom {
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 200px 35px 85px;
    border-radius: 10px;
    background: #F3F5F6;
    align-self: center;
    margin-top: 25px;
}

.question__bottom__img {
    width: 64px;
    height: 64px;
    position: absolute;
    left: -30px;
    top: 30px;
    border-radius: 50%;
}

.question__bottom__text {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.question__theme__title {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 35px;
}

.question__theme__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 40px;
}

.question__theme__item {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.question__theme__item:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #424242;
    left: -15px;
    top: 10px;
}

.question__theme__link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

.question__theme__link > img {
    margin-left: 10px;
}

.question__link__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #EEE;
    background: #FFF;
    margin-top: 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.question__block__img {
    width: 100px;
    height: 100px;
}

.question__link__right {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.question__right__span {
    width: 180px;
    padding: 5px 10px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
}

.question__right__text {
    color: #3D3D3D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}

.question__right__text > span {
    text-decoration: underline;
    color: #777777;
    font-weight: 400;
    font-size: 18px;
}

.question__right__arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.question__link__block:hover {
    background-color: #EEE;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1900px) {

    .section-row {
        width: 90%;
        padding-right: 90px;
    }

}

@media only screen and (max-width: 1620px) {

    .section-row {
        width: 80%;
        padding-right: 40px;
    }

}

@media only screen and (max-width: 1370px) {

    .section-row {
        width: 70%;
        padding-right: 20px;
    }

}
