@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/**************** Basic ****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    line-height: 29px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1205px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

input {
    border: 0;
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*************************************/

.header {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
}


.header__video {
    min-width: 100%;
    height: 1400px;
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 0;
}

.header__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 110px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    border: 0;
    background: linear-gradient(180deg, #111822 -15.68%, rgba(45, 45, 45, 0) 95.34%);
}

.header__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.header__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__top__address {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #555A60;
}

.header__logo__link {
    margin-right: 245px;
}

.header__top__mail {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #555A60;
}

.header__top__phone {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding: 15px 32px;
    border: 1px solid #FFAE00;
    color: #555A60;
    transition: all 0.3s ease;
}

.header__top__phone:hover {
    background: #FFAE00;
    color: #fff;
    border: 1px solid #fff;
}

.header__banner {
    width: 100%;
    position: relative;
}

.header__banner__icon {
    position: absolute;
    right: 0;
    bottom: -50px;
}

.header__banner__icon > img {
    width: 70px;
    height: 70px;
}

.header__banner__carousel {
    width: 80%;
    position: relative;
}

.header__banner__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__title {
    width: 695px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 130px;
}

.header__title > span {
    color: #FFAE00;
}

.header__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-top: 20px;
    color: #FFFFFF;
}

.header__banner__block {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 210px;
}

.header__button__sum {
    padding: 24px 54px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    background: #FFAE00;
    transition: all 0.3s ease;
    border: 1px solid #FFAE00;
}

.header__button__sum:hover {
    background: transparent;
    color: #FFAE00;
    border: 1px solid #FFAE00;
}

.header__button__test {
    padding: 24px 54px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFAE00;
    background: transparent;
    border: 1px solid #FFAE00;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.header__button__test:hover {
    background: #FFAE00;
    color: #000;
}

.header__banner__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 77px;
}

.header__banner__text {
    width: 480px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.owl-dots {
    width: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    margin: auto;
    right: -535px;
}

.owl-dot > span {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: #fff;
    margin-left: 20px;
}

.owl-dot.active > span {
    background-color: #FFAE00;
}

.main {
    width: 100%;
    position: relative;
}

.ideal {
    background-color: #F1F1F1;
    padding-bottom: 255px;
}

.ideal__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ideal__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ideal__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000;
    margin-top: 105px;
}

.ideal__title > span {
    color: #FFAE00;
}

.ideal__main {
    width: 100%;
    position: relative;
    margin-top: 107px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ideal__main__item {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ideal__main__block {
    width: 350px;
    height: 133px;
    background-image: url('../img/ideal_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ideal__main__block > img {
    width: 310px;
    height: 133px;
}

.ideal__main__text {
    width: 230px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    margin-top: 20px;
}

.ideal__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.ideal__left {
    width: 45%;
    position: relative;
}

.ideal__left__img {
    width: 100%;
}

.ideal__left__arrow1 {
    position: absolute;
    top: 50px;
    right: -180px;
}


.ideal__left__arrow2 {
    position: absolute;
    top: 130px;
    right: -220px;
}

.ideal__left__arrow3 {
    position: absolute;
    bottom: 20px;
    right: -350px;
}

.ideal__right {
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ideal__right__item1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ideal__right__item2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.ideal__right__item3 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.ideal__right__block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.ideal__block__bg {
    width: 230px;
    height: 100px;
    position: relative;
    background-image: url('../img/ideal_bg_black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 33px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ideal__block__bg > img {
    width: 206px;
    height: 100px;
}

.ideal__block__content {
    width: 180px;
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.ideal__block__title {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #444444;
}

.ideal__block__text {
    width: 140px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    margin-top: 3px;
}

.price {
    background-color: #FFAE00;
}

.price__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price__title {
    width: 850px;
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 86px;
}

.price__subtitle {
    width: 850px;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #555A60;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 11px;
}

.price__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 42px;
}

.price__form {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}

.price__form__tel,
.price__form__name {
    width: 365px;
    height: 60px;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.price__form__button {
    padding: 17px 75px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #555A60;
    cursor: pointer;
    border: 1px solid #555A60;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.price__form__button:hover {
    color: #555A60;
    background: #fff;
    cursor: pointer;
    border: 1px solid #555A60;
}

.price__confirm {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 115px;
}

.why {
    padding-bottom: 50px;
}

.why__row  {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.why__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.why__top__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    text-transform: uppercase;
    color: #0E2954;
    margin-top: 150px;
}

.why__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 145px;
}

.why__content__block {
    width: 335px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 105px;
}

.why-block__img {
    width: 88px;
    height: 88px;
}

.why-block__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #0E2954;
    margin-top: 23px;
}

.why-block__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

.buy {
    overflow: hidden;
}

.buy__video {
    min-width: 100%;
    height: 1400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 0;
}

.buy__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border: 0;
    background: linear-gradient(180deg, #111822 -15.68%, rgba(45, 45, 45, 0) 95.34%);
}

.buy__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.buy__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buy__title {
    width: 327px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 120px;
}

.buy__content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.buy_bg__transparent {
    width: 625px;
    height: 625px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_bg__transparent:after {
    content: '';
    background-image: url("../img/buy2.svg");
    background-repeat: no-repeat;
    width: 355px;
    height: 685px;
    position: absolute;
    right: -30px;
}

.buy__bg__white {
    width: 565px;
    height: 565px;
    border-radius: 50%;
    background: #F1F1F1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy__bg__arrow1 > img,
.buy__bg__arrow2 > img,
.buy__bg__arrow3 > img,
.buy__bg__arrow4 > img,
.buy__bg__arrow5 > img {
    width: 100%;
}

.buy__bg__arrow1 {
    position: absolute;
    top: -80px;
    right: 225px;
}

.buy__bg__arrow1:after {
    content: 'Выберите технику на сайте';
    position: absolute;
    width: 220px;
    top: -50px;
    left: 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFAE00;
}

.buy__bg__arrow2 {
    position: absolute;
    top: 45px;
    right: -20px;
}

.buy__bg__arrow2:after {
    content: 'Оставьте заявку';
    position: absolute;
    width: 160px;
    top: -30px;
    left: 100px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFAE00;
}

.buy__bg__arrow3 {
    position: absolute;
    top: 290px;
    right: -120px;
}

.buy__bg__arrow3:after {
    content: 'Получите Коммерческое предложение';
    position: absolute;
    width: 200px;
    top: -15px;
    left: 120px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFAE00;
}

.buy__bg__arrow4 {
    position: absolute;
    bottom: 15px;
    right: -10px;
}

.buy__bg__arrow4:after {
    content: 'Заключите договор';
    position: absolute;
    width: 200px;
    top: 40px;
    left: 100px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFAE00;
}

.buy__bg__arrow5 {
    position: absolute;
    bottom: -80px;
    right: 245px;
}

.buy__bg__arrow5:after {
    content: 'Получите технику';
    position: absolute;
    width: 200px;
    top: 70px;
    left: 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFAE00;
}

.buy__img {
    width: 526px;
    height: 409px;
    border-radius: 30%;
}

.compare {
    padding-bottom: 260px;
}

․compare__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.compare__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.compare__top__title {
    width: 850px;
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #555A60;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 145px;
}

.compare__top__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555A60;
    margin-top: 15px;
}

.compare-table {
    width: 100%;
    margin-top: 70px;
}

.compare-table > tbody > tr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compare-table > tbody > tr:nth-child(2n - 1) {
    background-color: #FFAE00;
}

.compare-table > tbody > tr:nth-child(2n) {
    background-color: rgba(85, 90, 96, 0.1);
}

.compare-table > tbody > tr > td {
    width: 33%;
    padding: 25px 70px 25px 70px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.compare-table > tbody > tr > td.td-bg1 {
    background-color: #555A60;
}

.compare-table > tbody > tr > td.td-col1 {
    color: #000000;
}

.compare-table > tbody > tr > td.td-tac {
    text-align: center;
}

.compare__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.compare__bottom__title {
    width: 850px;
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFAE00;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.compare__bottom__text {
    width: 660px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 15px;
}

.compare-form {
    width: 100%;
    padding: 40px 0 25px 50px;
    background: #EEEFEF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.compare-form__tel,
.compare-form__name {
    width: 365px;
    height: 60px;
    padding: 15px 30px;
    background: #fff;
    margin-right: 15px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.compare-form__button {
    padding: 17px 75px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #000;
    background: #FFAE00;
    cursor: pointer;
    border: 1px solid #FFAE00;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.compare-form__button:hover {
    color: #FFAE00;
    background: #000;
}

.compare-form__confirm {
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}


